
<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>Where to report</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card >
    <ion-card-subtitle class="ion-text-center ion-margin">Where to report
    </ion-card-subtitle>
    <ion-card-content>
      <div class="ion-text-center">

        <ion-text >
            To report corruption anonymously in your community you can call Toll-free number 086250  or  use our Mobile Application or our Interactive website

            Always remember that you do not have to give your name when reporting fraud or Corruption using our platforms

            You  can as well directly contact the Zimbabwe Anti-Corruption Commission (ZACC) via its WhatsApp number 0719 529 483 or via http://tipoffs-zacc.online/ </ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
