
<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card >
    <ion-card-subtitle class="ion-text-center ion-margin">About Us
    </ion-card-subtitle>
    <ion-card-content>
  <div >

<ion-text >
  Youth Forum Zimbabwe (YFZ) is a non-profit organization that was formed in August 2004  as a response to the social exclusion of youth in political processes in Zimbabwe.
  <br>
  <br>
  Its members are passionate and committed to amplifying and strengthening the voice of the Zimbabwean youth within the political landscape.
  <br>
  <br>



</ion-text>
  </div>
    </ion-card-content>
  </ion-card>
</ion-content>
