
<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card >
    <ion-card-subtitle class="ion-text-center ion-margin">About the App
    </ion-card-subtitle>
    <ion-card-content>
      <div class="ion-text-center">

        <ion-text >
          The Anti-Corruption Mobile Application seeks to promote youth participaton in anti-corruption initiatives and coordinate joint advocacy campaigns against corruption in Zimbabwe.
          <br>
          <br>
          Through the application,youths will be able to  report corruption, with received reports being shared with the Zimbabwe Anti-
          Corruption Commission (ZACC), civic society and the public at large.

        </ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
